


.home {
    margin-left: 1.5em;
    margin-top: 10em;
    position: fixed;
}

.border {
    margin-top: -10.3em;
}

.heading {
    height: 20vh;
    text-align: center;
    margin-top: 12em;
    border: 4em;
    border-color: rgb(240, 240, 240);    
}

.borderr {
    margin-top: none;
    border: 10px ridge;
    border-color: rgb(226, 82, 113);
    border-radius: 1em;

    margin: 5em;
    border-top-width: 1em;
    margin-right: 30em;
    margin-left: 30em;
    margin-bottom: 40em;
    
    
}
.form {
    text-align: center;
    margin-top: 2em;
    height: 60vh;
    
}

.form-top {
    margin-top: 1em;
}

.button {
   border: 40em;
   margin-right: 7em;
   margin-bottom: 4em;
   text-align: center;
   margin-left: 7em;
 
}